<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Sample Test Suite">
            <directory>tests/Sample/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/Sample/</directory>
        </whitelist>
    </filter>
</phpunit>
